@import url("https://use.typekit.net/ebc0fbo.css");
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: "newake";
  src: url('/assets/newake.otf') format('otf'),
    url('/assets/newake.ttf') format('truetype');
}

body {
  font-family: "futura-pt", "Noto Sans JP";
  border-top: 10px solid #1efad9;
}


/* HEADER */
header {
  margin: 40px 0;
}

header a {
  text-decoration: none;
  color: #c31efa;
}

header .menu {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

header .menu div {
  margin: 0;
}

header .links a {
  display: inline-flex;
  padding: 0 10px;
}

/* UTILITY */
h1 {
  margin: 30px 0 10px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

ul, li {
  font-size: 1.1rem;
  margin: 5px 10px;
}

ul, li>p {
  font-size: 1.1rem;
}

hr {
  margin: 25px 0;
}

a {
  color: #888;
}

a:hover {
  color: #222;
  transition: .5s;
}


.intro {
  margin: 28% 0;
  font-size: 3.2rem;
}

p {
  font-size: 1.4rem;
  font-weight: 500;
}

.log-content a {
  color: #c31efa;
}

.layout {
  max-width: 1100px;
  padding: 0 20px;
}

section+section {
  margin: 20px 0;
}

/* BUTTON */
a.button {
  position: relative;
  bottom: 10px;
}

a.button::after {
  content: '';
  height: 2px;
  position: relative;
  top: 10px;
  display: inline-block;
  background-color: #888;
}

a.button:hover::after {
  background-color: #222;
  transition: .5s;
}

a.button-a::after {
  width: 90px;
  right: 88px;
}

a.button-b::after {
  width: 128px;
  right: 124px;
}


a.button p {
  margin: 15px 0;
  padding: 8px 0;
  display: inline-block;
  font-size: 1.2rem;
}


/* RESUME */
.profile-box {
  background: #f3f3f3;
  padding: 30px;
  margin: 20px 0;
  border-radius: 15px;
}

.resume-box {
  display: flex;
  align-items: baseline;
  margin: 14px 0;
}


@media only screen and (max-width: 767px) {
  .resume-box {
    flex-wrap: wrap;
  }
}

.resume-box div.year {
  width: 200px;
  margin: 0;
}

.resume-box div.org {
  margin: 0;
}

.resume-box div.year p {
  font-size: 0.9rem;
  display: inline-block;
}

.resume-box div.year p.area {
  border: 1px solid #000;
  padding: 2px 10px;
  margin: 5px 0;
  display: table;
}

/* FEATURED */
.featured-list {
  margin: 20px 0;
}

.log-list .featured {
  margin: 15px 0;
  max-width: 30%;
}

.featured p {
  font-size: 1.8rem;
}

/* LOG */
.log-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.log-list a {
  text-decoration: none;
}

.log-card {
  margin: 5px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 15px;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.log-card p.date {
  font-size: 1rem;
}

.log-card .title {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.log-card-text {
  padding: 0 10px;
}

@media only screen and (max-width: 430px) {
  .log-card {
    flex-wrap: wrap;
  }

  .log-card div {
    margin: 0;
  }

  .log-card img {
    width: 60px !important;
  }
}

@media only screen and (max-width: 750px) {
  .log-list .featured {
    max-width: none;
  }
}

/* LOG-CONT */
.log-content h1{
  display: inline-block;
  font-size: 2.3rem;
  margin: 0;
}
.log-details {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .log-details {
    flex-wrap: wrap;
  }
}

.log-released{
  background-color: #f9f9f9;
  padding: 10px 20px;
  margin: 25px 0;
  border-radius: 5px;
  font-size: 1.3rem;
}

.log-released a{
  color: #888
}

.log-released a:hover{
  color: #000
}

.external{
  width: 14px;
  height: 14px;
  position: relative;
  top: 3px;
  left: 5px;
}
.log-released .details{
  font-size: 1rem;
  color: #333;
  display: inline-block;
  width: 80px;
  margin: 0;
}
.log-released div {
  margin: 10px;
}

.log-content .richtext p {
  margin: 15px 0;
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 1.2rem;
}

.log-content .tag ul, .log-content .tag ul li {
  display: flex;
  flex-wrap: wrap;
  color: #888;
  margin: 2px;
}

.log-content .tag li {
  border: 1px solid #888;
  border-radius: 5px;
  padding: 2px 9px;
  margin: 5px;
}

.log-rich img{
  border: 1px solid #000 !important;
}
.log-rich h2{
  margin-top: 30px;
}
.log-rich blockquote{
  background-color: #f3f3f3;
  padding: 20px 30px;
  border-left: 4px solid #777;
}
.log-rich blockquote p, .log-rich blockquote a{
  font-size: 0.9rem!important;
  color: #000;
}

/* FOOTER */

footer {
  margin-top: 100px;
  background-color: #999;
  color: #FFF;
  text-align: center;
  padding: 40px;
}

footer p {
  font-size: 0.8rem;
}