@import url("https://use.typekit.net/ebc0fbo.css");
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: "newake";
  src: url('/assets/newake.otf') format('otf'),
  url('/assets/newake.ttf') format('truetype');
}

body{
  font-family: "futura-pt", "Noto Sans JP";
  border-top: 10px solid #1efad9;
}

header{
  margin: 40px 0;
}

header a{
  text-decoration: none;
  color: #c31efa;
}
header .menu{
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
header .menu div{
  margin: 0;
}
header .links a{
  display: inline-flex;
  padding: 0 10px;
}
h1{
  margin: 30px 0 10px;
}
.layout{
  max-width: 1100px;
  padding: 0 20px;
}
p{
  font-size: 1.1rem;
  font-weight: 300;
}
footer{
  margin-top: 500px;
  background-color: #999;
  color: #FFF;
  text-align: center;
}